{% extends "fields_base.html" %}
{% block content %}
    <!--Navbar-->
    {% include "navbar.html" %}
    <!--/.Navbar-->

    <form method="POST" role="form">
        <div class="container-fluid">
            <div class="row">
                <p></p>
                <div class="col-lg-9 col-md-8 col-sm">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fields</h3>
                    </div>
                    <p>{{ tags|length }} fields found.</p>
                    {% if tags_exist and disco_choice == "2" %}
                        <p><strong>Exisitng data from previous session was found.</strong></p>
                        <p><a href="/clearcache">Click here</a> to refresh new data from your Datadog instance.</p>
                    {% endif %}

                    {% if provisioned %}
                        <p><strong>Provisioned Data Found:</strong> Previous provisioned data was found. <a href="/provision/results">Click here</a> to review and deprovision those data.</p>
                    {% endif %}

                    <table id="tagExportList" class="table table-bordered d-none">
                        <thead>
                        <tr>
                            {% for key in tags %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in range(maxlen) %}
                            <tr>
                                {% for key in tags %}
                                    {% if tags[key][i] %}
                                        <td>{{ tags[key][i] }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            {% for key in tags %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                        </tfoot>
                    </table>

                    <table id="tagList" class="table table-striped table-bordered" style="width:100%">
                        <thead class="thead-dark">
                        <tr>
                            <th>Field Key</th>
                            <th>Field Values</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key in tags %}
                            {% if key != "ignored" %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>
                                            {% for i in range(tags[key]|length) %}
                                            <p><input type="checkbox" name="tag_{{ key }}_{{ i + 1 }}"
                                                   value="{{ key }},{{ i }}"> {{ tags[key][i] }}</p>

                                            {% endfor %}
                                        </td>
                                    </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot class="thead-light">
                        <tr>
                            <th>Field Key</th>
                            <th>Field Values</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-lg-3 col-md-4 col-sm">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Field Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <label>Modify Fields By:</label>
                                <a class="btn btn-warning btn-md btn-block" role="button" href="/discovery/fields/multiple">Individual
                                    Field Key</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="tagAction">Action:</label>
                                <select id="tagAction" class="browser-default custom-select" name="tag_action"
                                        required="true">
                                    <option value="">Select An Action</option>
                                    <div class="dropdown-divider"></div>
                                    <option value="delete">Unassign Keys from Selected Fields</option>
                                    <option value="save">Assign Key for Select Fields</option>
                                    <option value="extract_tags">Extract Field(s) By Key:Value</option>
                                    <option value="extract_sep">Extract Field(s) By Separators</option>
                                    <option value="extract_regex">Extract Field(s) By Regex</option>
                                    <option value="extract_regex_custom">Extract Field(s) By Custom Regex</option>
                                </select>
                            </th>
                        </tr>
                        <tr id="tagSelectionRow" hidden>
                            <th scope="row">
                                <label for="tagSelection">Update following keys:</label>
                                <select id="tagSelection" class="browser-default custom-select" name="tag_selection"
                                        required="true" disabled>
                                    <option value="">Select a key</option>
                                    <option value="custom_adapt">CUSTOM KEY</option>
                                    {% for key in tags %}
                                        <option value="{{ key }}">{{ key }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                        <tr id="customRegexField" hidden>
                            <th scope="row">
                                <label for="customRegex">Custom Regex:</label>
                                <input class="form-control" type="text" placeholder="Regex Expression" name="custom_regex" disabled required/>
                            </th>
                        </tr>
                        <tr id="customFieldRow" hidden>
                            <th scope="row">
                                <label for="customField">Custom Field:</label>
                                <input class="form-control" type="text" placeholder="Field Name" name="custom_field"
                                       disabled/>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn btn-secondary btn-md btn-block" type="submit">Update Fields</button>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <a class="btn btn-info btn-md btn-block" role="button" target="_blank" href="/discovery/incidents">Review Events</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <a class="btn btn-primary btn-md btn-block" role="button" href="/provision/combination/build">Configure Abstraction
                                    Combination</a>
                            </th>
                        </tr>
                        <tr>
                            <td scope="row">
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        {% for message in messages %}
                                          <p style="color: #EF3B3A">{{ message }}</p>
                                        {% endfor %}
                                      {% endif %}
                                    {% endwith %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

{% endblock %}