<div id="repoAdvanced">
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Keywords Search</label>
        <input type="text" class="form-control" name="keywordRepo" placeholder="Enter any keywords..">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Repository Name</label>
        <input type="text" class="form-control" name="repoName" placeholder="Specific repository name..">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Repository Owner</label>
        <input type="text" class="form-control" name="repoOwner" placeholder="Name of the repository owner..">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Stars</label>
        <input type="text" class="form-control" name="minStar" placeholder="Minimum stars of the repository..">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Size (Minimum in KB)</label>
        <input type="text" class="form-control" name="repoSize" placeholder="Minimum size of the repository..">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Forks (Minimum)</label>
        <input type="text" class="form-control" name="forkNum" placeholder="Minimum number of forks..">
    </fieldset>
</div>