<div id="usersAdvanced">
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Keywords Search</label>
        <input type="text" class="form-control" name="keywordUsers" placeholder="Enter any keywords.">
    </fieldset>
    <fieldset class="form-group">
        <label for="accountSelect">Account Type</label>
        <select class="form-control" id="userType" name="userType">
            <option id="all-type" value="all">All Accounts</option>
            <option id="user-type" value="user">Personal Accounts</option>
            <option id="org-type" value="org">Organization Accounts</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Repositories Owned (Minimum)</label>
        <input type="text" class="form-control" name="repoNum"
        placeholder="Minimum Repository Owned By User.."/>
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Followers (Minimum)</label>
        <input type="text" class="form-control" name="followerUsers"
        placeholder="Minimum Followers of User"/>
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Country</label>
        <select class="form-control bfh-countries" name="countryUsers"></select>
    </fieldset>
</div>