/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 15px;
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
    padding: 60px 15px;
}

.container .text-muted {
    margin: 20px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* breqwatr text CSS
-------------------------------------------------- */

#breq {
    color: rgb(6, 139, 193);
}

#watr {
    color: #606060;
}

#breq, #watr {
    font-weight: bolder;
    font-family: Ubuntu, sans-serif;
}

/* img CSS for the logo
-------------------------------------------------- */
.img:not (.png) {
    height: 340px;
}

.navbar-brand > img {
    height: 150%;
}

/* Search CSS
-------------------------------------------------- */
#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search-query:focus + button {
    z-index: 3;
}


/* Advanced Search CSS
-------------------------------------------------- */
#usersAdvanced, #repoAdvanced, #codeAdvanced, #issueAdvanced {
    display: none;
}


/* Search Result CSS
-------------------------------------------------- */
#profile {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;

}

#advanced, #search {
    width: 100%;
    font-size: 140%;

}

hgroup h2.lead {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin: 0;
    padding-bottom: 10px;
}

.search-result .thumbnail {
    border-radius: 0 !important;
}

.search-result:first-child {
    margin-top: 0 !important;
}

.search-result {
    margin-top: 20px;
}

.search-result .col-md-2 {
    border-right: 1px dotted #ccc;
    min-height: 140px;
}

.search-result ul {
    padding-left: 0 !important;
    list-style: none;
}

.search-result ul li {
    font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
    line-height: 30px;
}

.search-result ul li i {
    padding-right: 5px;
}

.search-result .col-md-7 {
    position: relative;
}

.search-result h3 {
    font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.search-result h3 > a, .search-result i {
    color: #248dc1 !important;
}

.search-result p {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}

.search-result span.plus {
    position: absolute;
    right: 0;
    top: 126px;
}

.search-result span.plus a {
    background-color: #248dc1;
    padding: 5px 5px 3px 5px;
}

.search-result span.plus a:hover {
    background-color: #414141;
}

.search-result span.plus a i {
    color: #fff !important;
}

.search-result span.border {
    display: block;
    width: 97%;
    margin: 0 15px;
    border-bottom: 1px dotted #ccc;
}


